@import '../../assets//styles/variables.scss';

$input-height: 30px;

.chat {
  position: absolute;
  z-index: $chat-z-index;
  font-size: 1rem;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 200px;
  color: $color-grey;
  background-color: rgba($color-black, $default-ui-opacity);
  border-top-right-radius: $default-border-radius;

  .messagesContainer {
    height: calc(100% - #{$input-height});
    overflow: scroll;

    .message {
      margin: 2px 4px;

      .sender {
        font-weight: bold;
      }

      .content {
        text-decoration: dashed;
      }
    }
  }

  .inputContainer {
    height: $input-height;
    width: calc(100% - 8px);
  }
}
