.container {
  padding-top: 5rem;

  .background {
    position: absolute;
    top: 1rem;
    bottom: 0;
    left: -1rem;
    right: -1rem;
    z-index: -1;
    background-image: url('./images/background.jpg');
    background-position: 0 -12rem;
    background-repeat: no-repeat;
    filter: blur(6px);
  }
}
